.tasks-container {
    background-color: rgb(177, 228, 228);
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.tasks-container > div {
    background-color: darkolivegreen;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    color: white;
    height: 100px; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.controls {
    background-color:  rgb(177, 228, 228);
    margin: 10px;
}





